data/**
Library/**
Logs/**
Packages/**
Temp/**
__pycache__/**
training_data/**
training_output/**
checkpoint_tests/**
UserSettings/**
.vscode/**
*.csproj
*.sln
*.onnx
*.onnx.meta
*.blob
/obj
/.vs
/UIElementsSchema
/bin