data/**
Library/**
Logs/**
Packages/**
Temp/**
build/**
ProjectSettings/**
__pycache__/**
training_script/__pycache__/**
training_data/**
training_output/**
UserSettings/**
.vscode/**
*.csproj
*.sln
*.onnx
*.onnx.meta
*.blob
/obj
/.vs
/UIElementsSchema
/bin
.utmp/**
Assets/Resources/PerformanceTestRun**

!Packages/manifest.json
!Packages/packages-lock.json
